body{
    margin: 0;
    background: linear-gradient(to right,rgb(212, 145, 43),rgb(215, 105, 105) ,rgb(220, 59, 129));
}
#header{
    position:sticky;
}
h1{
    text-align: center;
    
    background: linear-gradient(to right,rgb(212, 145, 43),rgb(215, 105, 105) ,rgb(220, 59, 129));
    line-height: 150px;
    margin: 0%;
    height: 150px;
    
}
h2{
    font-size: xx-large;
    color: rgba(0, 0, 0, 0.874);
    text-align: center;
    padding: 5%;
}
p{
    font-size: xx-large;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 30px;
    height: 55pc;
    
    

}
#menü{
   
    justify-content: space-around;
    display:none;
}


img{
    height: 250px;
    width: 250px;
    padding-left: 5px;
    padding-right: 40px;
    padding-top: 80px;
   
}

#de{
    display: flex;
    background-color: aqua;
    
}
ul{
    font-size: xx-large;
    border: 5px pink solid;
    background-color: yellow;
    height: 100%;
    width: 150px;
    right: 0;
    position:relative;
    margin: 0;
}
@media screen and (max-width: 480px)
{

    #de{
        flex-wrap: wrap;
        background-color:rgb(255, 246, 246)
    }
   img{
       padding-left: 150px;

      
   }

    ul{
        
        display: none;
        
        
    }
    #menü{display: inline;
    justify-content: center;
    }
    
    p{
        height: 100%;
    }
}
@media screen and(min-width=481px) and(max-width:769px) {
    p{
        font-size: x-small;
    }

    
}