body{
    margin: 0;
    background-color: black;
}
#header{
    position:sticky;
}
h1{
    text-align: center;
    color: white;
    background: linear-gradient(to right,rgb(212, 145, 43),rgb(215, 105, 105) ,rgb(220, 59, 129));
    line-height: 150px;
    margin: 0%;
    height: 150px;
    
}
h2{
    font-size: xx-large;
    color: rgba(0, 0, 0, 0.874);
    text-align: center;
    padding: 5%;
}
p{
    font-size: xx-large;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 30px;
    height: 60pc;
    
    
    

}
a:link {
    text-decoration: none;
    color: rgb(255, 255, 255);
    }
    a:visited {
    text-decoration: underline;
    color: rgb(255, 255, 255);
    }
    a:hover {
    text-decoration: none;
    font-weight: bold;
    text-decoration: underline;
    }
    a:active {
    background-color: rgb(255, 0, 0);
    }
    
#menü{
   
    justify-content: space-around;
    display:none;
}


img{
    height: 300px;
    width: 300px;
    padding-left: 5px;
    padding-right: 40px;
    padding-top: 165px;s
   
}
img:nth-of-type(2){

}

#de{
    display: flex;
    background-color: aqua;
    
}
ul{
    font-size: xx-large;
    border-top: 3px solid black;
    background: linear-gradient(to top,rgb(255, 0, 0),rgb(220, 59, 129),rgb(220, 59, 129));
    height: 100%;
    width: 150px;
    right: 0;
    position:relative;
    margin: 0;
}


@media screen and (max-width: 480px)
{

    p{
        
        font-size: xx-small;
        
    }
    #de{
        flex-wrap: wrap;
        background-color:rgb(255, 246, 246)
    }
   img{
        padding-top: 0;
        padding-bottom: 500px;
        padding-right: 0;
        padding-left: 100px;
        height: 250px;
        width: 250px;
        clear: both;
        
      
   }

    ul{
        
        display: none;
        
        
    }
    #menü{
    
    
    display:block
    
    
    }
    #menü a{
       
        margin-right: 22px;
    }
    p{
        height: 100%;
        margin-bottom: 0px;
    }
}
